:root {
    --color-fondo: rgb(253, 253, 229);
    --color-nav: rgb(148, 96, 138);
    --sombra-nav: rgb(143, 90, 128);
    --color-text: black;

}

#acerca-de-mi {
    scroll-margin-top: 70px;
}

#habilidades {
    scroll-margin-top: 70px;
}

#educacion {
    scroll-margin-top: 70px;
}

#experiencia {
    scroll-margin-top: 70px;
}

body {

    background: var(--color-fondo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    margin: 10px 20px;
    max-height: 15em;
    max-width: 15em;
    border-radius: 50%;
    box-shadow: 0 3px 5px var(--color-nav);
}

.nav-bar {
    font-size: 1.5em;
    background-color: var(--color-nav);
    width: 100%;
    height: 40px;
    padding: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
}


.menu {

    box-shadow: 0 5px 5px var(--sombra-nav);
    background-color: var(--color-nav);

    margin-left: -100%;
    transition: all 0.10s;
    
    width: 100%;

}

.menu-item {

    font-size: 20px;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    text-align: center;
}


.menu-link:hover {

    color: beige;
}


.menu-link {
    text-decoration: none;
    padding: 20px;
    font-size: 1em;
    color: rgb(0, 0, 0);

}

.mostrar {

    margin-left: 0;
    height: 100%;

}

span i {
    background-color: var(--color-nav);
    color: var(--color-fondo)
}

h3 i {
    color: rgba(163, 163, 163, 0.765)
}

.presentacion {
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

.nombre {

    width: 60%;
    margin-left: 20px;
    white-space: 4px;
    letter-spacing: 5px;
}

.redes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 40px;

}

.redes a {
    color: var(--color-nav);
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.redes a:hover {
    transform: scale(1.5);
}

.separador {
    width: 100;
}

.decorador {
    color: rgb(122, 64, 111) 3px 3px 5px;
}

#titulo {
    letter-spacing: 4px;
    word-spacing: 5px;
}

div h2 {
    text-align: center;
}


.skills-list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-item {
    box-shadow: 0 5px 10px var(--color-nav);
    border-radius: 20px;
    margin: 20px;
    width: 110px;
    padding: 5px 5px;
    text-align: center;
    padding: 0.5em 0.7em;

}

img.svg {
    width: 100%;
}


/*pantallas chicas*/
@media(max-width:800px) {

    header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        overflow-y: auto;
        text-align: center;
        padding: 0%;
        position: relative;
        z-index: 1;
            
    }

    .menu-item {
        font-size: 25px;
        
    }
   

    #inicio-fin {
        text-align: right;
    }

    .logo {
        display: none;
    }

    .presentacion {
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 0%;
    }
    .logo img {
        max-height: 10em;
        max-width: 10em;
        border-radius: 10px;
        margin-right: 20px;
        margin-left: 15px;
    }

}

/*pantallas anchas*/
@media(min-width:800px) {
    .presentacion {
        padding-top: 100px;
    }

    .nav-bar {
        display: none;
        /*desaparecemos el nav-bar una vez maximixado*/
    }

    .menu {
        display: flex;
        justify-content: space-around;
        /*para qwue se muetre uno ala lado del otro*/
        margin-left: 0%;
        /*para que se muestre*/
        position: fixed ;
        width: 100%;
        z-index: 100;
    }


}